*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: gray;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

img{
    height: 250px;
    width: 200px;
    
}

body{
    align-content: center;
}

h1{
    text-align: center;
    color: floralwhite;
}

h2{
    text-align: left;
    color: yellow;
}

h3{
    text-align: left;
}

p{
    text-align: left;
    background-color:steelblue;
    color:floralwhite;
    width: 50%;
}
p1{
    text-align: center;
    background-color:steelblue;
    color:floralwhite;
}

table, th, td{
    border: 5px solid black;
    border-collapse: collapse;
}

td{
    text-align: center;
}

th{
    text-align: center;
    color: aliceblue;
}

input[type="checkbox"]{
    width: 50px;
    height: 50px;
}

form{
    padding: 20px;
}

div{
   display:inline-block; 
       width:50%; 
}